{% load static %}

<html>
    <head>

    </head>
    <body>

         <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>    
       

        <h1>This is a static html page</h1>
       
        <p> This pie chart is rendered using React</p>

        <!-- Load our React component. -->
        <div id="pivot_container"></div>
        <script type="text/babel" data-presets="react" data-type="module" src={% static "org_chart.js" %}></script>


        <div id="pie_chart_container"></div>
        <script type="text/babel" data-presets="react" data-type="module" src={% static "pie_chart.js" %}></script>
        
        
        




            
    </body>
</html>